@import "tailwindcss";

@config "../../tailwind.config.js";

/* Disable text selection globally */
*, *::before, *::after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}